.inicio{
    display: flex;
    position: absolute;
    top: 45vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main{
    position: absolute;
    top: 25vh;
    left: 60%;
    transform: translate(-50%,-50%);
}

.main p{
    display: flex;
    justify-content: center;
}

.caixa{
    display: flex;
    position: fixed;
    top: 0vh;
    left: 50%;
    transform: translate(-50%,-50%);
}